<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
                
<ui:define name="title">
	<h:outputText value="#{msgsSAE['searchAlumni.title.alumni']}"  />
</ui:define>
	
    <ui:define name="body">
      	 <div class="row">
		      	 <p:dataScroller value="#{searchAlumniControl.alumni}" var="courseRealized" chunkSize="5">		        
					           
					           
					            <ui:decorate template="/resources/sae/form.xhtml">
										<h4><h:outputText value="#{courseRealized.alumni.name}"/>	</h4>
										<h4><h:outputText value="#{courseRealized.course.name}"/>	</h4>
										<h4><h:outputText value="Ano de Início:  #{courseRealized.startYear}"/>	</h4>
										<h4><h:outputText value="Ano de Termino:  #{courseRealized.endYear}"/>	</h4>
								</ui:decorate>
								
			    </p:dataScroller>
         </div>
    </ui:define>       
</ui:composition>