<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                 template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title">
	<h:outputText value="#{msgsSAE['manageTestimonies.title.create']}" 
				  rendered="#{(! manageTestimoniesControl.readOnly) and (manageTestimoniesControl.selectedEntity.id == null)}" />
   	<h:outputText value="#{msgsSAE['manageTestimonies.title.update']}" 
   				  rendered="#{(! manageTestimoniesControl.readOnly) and (manageTestimoniesControl.selectedEntity.id != null)}" />
    <h:outputText value="#{msgsSAE['manageTestimonies.title.retrieve']}" rendered="#{manageTestimoniesControl.readOnly}" />
</ui:define>

<ui:define name="body">

	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
		<ui:param name="formName" value="form" /> 
		<ui:param name="formLabel" value="#{msgsSAE['manageTestimonies.title.form']}" />
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="course"/>
			<ui:param name="label" value="#{msgsSAE['manageTestimonies.title.courseRealized']}"/>
					<p:inputText  id="course" pt:class="form-control" value="#{manageTestimoniesControl.selectedEntity.courseRealized.course.name}"  
								  required="true"  disabled="true" />
		</ui:decorate>

		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="content"/>
			<ui:param name="label" value="#{msgsSAE['manageTestimonies.title.content']}"/>
						<p:inputTextarea rows="10" maxlength="999" id="content" pt:class="form-control" disabled="true"  
									 value="#{manageTestimoniesControl.selectedEntity.content}"  required="true">
						</p:inputTextarea>
		</ui:decorate>
					
		<ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-03.xhtml">
	        	<p:commandButton pt:class="btn btn-block btn-warning btn-social" immediate="true" action="#{manageTestimoniesControl.analyzeTestimonies()}"   icon="fa  fa-rotate-left" value="#{msgs['crud.button.back']}"/>
	        	<p:commandButton pt:class="btn btn-block btn-success btn-social" update="form"  action="#{manageTestimoniesControl.approve()}" icon="fa  fa-thumbs-o-up"  value="#{msgsSAE['manageTestimonies.button.approve']}"/>
	    		<p:commandButton pt:class="btn btn-block btn-danger btn-social" update="form" action="#{manageTestimoniesControl.disapprove()}" icon="fa  fa-thumbs-o-down" value="#{msgsSAE['manageTestimonies.button.disapprove']}"/>
	    </ui:decorate>		
				
	</ui:decorate>
	
</ui:define>
</ui:composition>