<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                 template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title"><h:outputText value="#{msgsSAE['manageTestimonies.menu.title.analyze']}" /></ui:define>

	
<ui:define name="body">
	
	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
			<ui:param name="formName" value="listingForm" />
			<ui:param name="formLabel" value="#{msgsSAE['manageTestimonies.title.box.list']}" /> 
        	<p:dataTable
	    			 	widgetVar="listingTable"
           			    rowIndexVar="rowIndex"
               			tableStyleClass="table table-bordered table-striped"
                   		value="#{manageTestimoniesControl.pendingEntities}" 
                   		var="entity" 
                   		rows="#{manageTestimoniesControl.entityCount}" 
                        lazy="true" 
                        selection="#{manageTestimoniesControl.selectedEntity}" 
                        selectionMode="single" 
                        loadingMessage="#{msgs['text.ajax.loading']}" 
                        emptyMessage="#{manageTestimoniesControl.filtering ? msgsSAE['manageTestimonies.text.noEntitiesFiltered'] : msgsSAE['manageTestimonies.text.noEntities']}">
												
                <p:column headerText="#{msgsSAE['manageTestimonies.title.courseRealized']}"  style="text-align: center;">
                	<h:outputText  value="#{entity.courseRealized.course.name}" />
                </p:column>
                <p:column headerText="#{msgsSAE['manageTestimonies.title.send_date']}" style="text-align: center; width:32%;">
                	<h:outputText  value="#{entity.send_date}" >
                		<f:convertDateTime type="date" pattern="#{msgs['format.date.java']}" locale="pt_BR" timeZone="America/Sao_Paulo"/>
                	</h:outputText>
                </p:column>
                <p:column headerText="#{msgsSAE['manageTestimonies.title.status']}"  style="text-align: center; width:30%;">
                	<h:outputText  value="#{entity.status.label}" />
                </p:column>
                <p:ajax event="rowSelect" update=":buttonsForm" />
        	</p:dataTable>
        </ui:decorate>
        
        <h:form id="buttonsForm">
		    <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-01.xhtml">
		       	<p:commandButton   pt:class="btn btn-block btn-info btn-social" action="#{manageTestimoniesControl.retrieveAnalyze()}" icon="fa fa-file-text" disabled="#{manageTestimoniesControl.selectedEntity == null}" value="#{msgs['crud.button.retrieve']}"/>      	
		    </ui:decorate>
		</h:form>
        
</ui:define> <!-- DEFINE BODY. -->
</ui:composition>