<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">


<ui:define name="title"> 
	<h:outputText value="#{msgsCore['manageAcademics.title.create']}" 
				  rendered="#{(! manageAcademicsController.readOnly) and (manageAcademicsController.selectedEntity.id == null)}" />
   	<h:outputText value="#{msgsCore['manageAcademics.title.update']}" 
   				  rendered="#{(! manageAcademicsController.readOnly) and (manageAcademicsController.selectedEntity.id != null)}" />
    <h:outputText value="#{msgsCore['manageAcademics.title.retrieve']}" rendered="#{manageAcademicsController.readOnly}" />
</ui:define>

	
<ui:define name="body">
	
	
	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsCore['manageAcademics.title.form']}" />
			
			<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
				<ui:param name="fieldName" value="name" />
				<ui:param name="label" value="#{msgsCore['manageAcademics.title.name']}" />
				<p:inputText id="name"  value="#{manageAcademicsController.selectedEntity.name}" 
								required="true" pt:placeholder="#{msgsCore['manageAcademics.placeholder.name']}"
								disabled="#{manageAcademicsController.readOnly  or (manageAcademicsController.selectedEntity.id!=null)}">
					<f:ajax event="blur" render="nameField" />
				</p:inputText>
			</ui:decorate>
		
			
			<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
				<ui:param name="fieldName" value="email" />
				<ui:param name="label" value="#{msgsCore['manageAcademics.title.email']}" />
				<p:inputText id="email"  value="#{manageAcademicsController.selectedEntity.email}" 
							 required="true" pt:placeholder="#{msgsCore['manageAcademics.placeholder.email']}"
							 disabled="#{manageAcademicsController.readOnly}" pt:type="email">
					<f:ajax event="blur" render="emailField" />
				</p:inputText>
			</ui:decorate>			
				
				
			<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
				<ui:param name="fieldName" value="shortName" />
				<ui:param name="label" value="#{msgsCore['manageAcademics.title.shortName']}" />
				<p:inputText id="shortName" value="#{manageAcademicsController.selectedEntity.shortName}" required="true" 
							 pt:placeholder="#{msgsCore['manageAcademics.placeholder.shortName']}"
							 disabled="#{manageAcademicsController.readOnly  or (manageAcademicsController.selectedEntity.id!=null)}">
					<f:ajax event="blur" render="shortNameField" />
				</p:inputText>
			</ui:decorate>
			
			
			<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
				<ui:param name="fieldName" value="academicType" />
				<ui:param name="label" value="#{msgsCore['manageAcademics.title.academicType']}" />
				<p:selectManyCheckbox layout="pageDirection"   id="academicType" converter="enumTypeConverter"  disabled="#{manageAcademicsController.readOnly  }"  
									 value="#{manageAcademicsController.academicTypes}"  required="true">
					<f:selectItems   value="#{coreController.academicType}" var="type" itemLabel="#{type.label}" itemValue="#{type}" />
					<f:ajax  render="academicTypeField" />
				</p:selectManyCheckbox>
			</ui:decorate>
			
			
			<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
				<ui:param name="fieldName" value="gender" />
				<ui:param name="label" value="#{msgsCore['manageAcademics.title.gender']}" />
				<h:selectOneMenu pt:class="form-control" id="gender" value="#{manageAcademicsController.selectedEntity.gender}" 
									 disabled="#{manageAcademicsController.readOnly}" >
						<f:selectItem itemLabel="#{msgsCore['manageAcademics.form.gender.blankOption']}" itemValue="" />
						<f:selectItems value="#{manageAcademicsController.gender}" var="type" itemLabel="#{type.label}" itemValue="#{type}" />
						<p:ajax event="change" update="genderField" />
				</h:selectOneMenu>				
			</ui:decorate>
			
			
			<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
				<ui:param name="fieldName" value="birthDate" />
				<ui:param name="label" value="#{msgsCore['manageAcademics.title.birthDate']}" />
				
				<p:inputMask id="birthDate" pt:class="form-control" value="#{manageAcademicsController.selectedEntity.birthDate}"
			           			 mask="#{msgs['format.date.primefaces']}" disabled="#{manageAcademicsController.readOnly}">
						<f:convertDateTime type="date" pattern="#{msgs['format.date.java']}" locale="pt_BR" 
										   timeZone="America/Sao_Paulo"/>
					</p:inputMask>			
					
			</ui:decorate>
			
			
			
			
			
				
			<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
				<ui:param name="fieldName" value="password" />
				<ui:param name="label" value="#{msgsCore['installSystem.field.admin.password']}" />
				<p:password id="password" pt:class="form-control" minLength="6" value="#{manageAcademicsController.selectedEntity.password}" required="true" 
						 	feedback="true" promptLabel="#{msgs['primefaces.password.prompt']}" 
						 	weakLabel="#{msgs['primefaces.password.weak']}" goodLabel="#{msgs['primefaces.password.good']}" 
						 	strongLabel="#{msgs['primefaces.password.strong']}" 
						 	disabled="#{manageAcademicsController.readOnly  or (manageAcademicsController.selectedEntity.id!=null)}" />
			</ui:decorate>
			
			

			<ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
	        	<p:commandButton pt:class="btn btn-block btn-info btn-social" action="#{manageAcademicsController.save}" update=":globalMessages form" disabled="#{manageAcademicsController.readOnly}" icon="fa fa-save" value="#{msgs['crud.button.save']}"/>
	        	<p:commandButton pt:class="btn btn-block btn-warning btn-social" immediate="true" action="#{manageAcademicsController.list}" icon="fa fa-rotate-left"  value="#{msgs['crud.button.back']}"/>
	        </ui:decorate>
							
	</ui:decorate>
	
</ui:define>
</ui:composition>
