<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title">
	<h:outputText value="#{msgsSAE['manageEducations.title.create']}" 
				  rendered="#{(! manageEducationsControl.readOnly) and (manageEducationsControl.selectedEntity.id == null)}" />
   	<h:outputText value="#{msgsSAE['manageEducations.title.update']}" 
   				  rendered="#{(! manageEducationsControl.readOnly) and (manageEducationsControl.selectedEntity.id != null)}" />
    <h:outputText value="#{msgsSAE['manageEducations.title.retrieve']}" rendered="#{manageEducationsControl.readOnly}" />
</ui:define>
	
<ui:define name="body">
	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
		<ui:param name="formName" value="form" /> 
		<ui:param name="formLabel" value="#{msgsSAE['manageEducations.title.form']}" />
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="degree"/>
			<ui:param name="label" value="#{msgsSAE['manageEducations.title.degree']}"/>
							<h:selectOneMenu  id="degree" pt:class="form-control" value="#{manageEducationsControl.selectedEntity.degree}" 
							 				  required="true" disabled="#{manageEducationsControl.readOnly}">
									<f:selectItem itemLabel="#{msgsSAE['manageEducations.degree.blankOption']}" itemValue="" />
									<f:selectItems value="#{publicoControl.degree_Education}" var="type" itemLabel="#{type.label}" itemValue="#{type}" />
									<p:ajax update="degreeField" />
							</h:selectOneMenu>	
		</ui:decorate>
					
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="institution"/>
			<ui:param name="label" value="#{msgsSAE['manageEducations.title.institution']}"/>
							<p:inputText id="institution" pt:class="form-control" value="#{manageEducationsControl.selectedEntity.institution}"
										 disabled="#{(manageEducationsControl.readOnly)}" 
										 pt:placeholder="#{msgsSAE['manageEducations.placeholder.institution']}" required="true">
								<p:ajax event="blur" update="institutionField" />
							</p:inputText>
		</ui:decorate>
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="state"/>
			<ui:param name="label" value="#{msgsSAE['manageEducations.title.state']}"/>			
							<p:inputText id="state" pt:class="form-control" value="#{manageEducationsControl.selectedEntity.state}"
										 disabled="#{(manageEducationsControl.readOnly)}" 
										 pt:placeholder="#{msgsSAE['manageEducations.placeholder.state']}" required="true">
								<p:ajax event="blur" update="stateField" />
							</p:inputText>
		</ui:decorate>
					
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="country"/>
			<ui:param name="label" value="#{msgsSAE['manageEducations.title.country']}"/>	
							<p:inputText id="country" pt:class="form-control" value="#{manageEducationsControl.selectedEntity.country}"
										 disabled="#{(manageEducationsControl.readOnly)}" 
										 pt:placeholder="#{msgsSAE['manageEducations.placeholder.country']}" required="true">
								<p:ajax event="blur" update="countryField" />
							</p:inputText>
		</ui:decorate>

		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="year"/>
			<ui:param name="label" value="#{msgsSAE['manageEducations.title.year']}"/>
							<input id="year" name="year" class="form-control"  type="tel"  jsf:required="true"
							 	value="#{manageEducationsControl.selectedEntity.year}"   
								jsf:disabled="#{manageEducationsControl.readOnly}" />
							
		</ui:decorate>

		<ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
	        	<p:commandButton pt:class="btn btn-block btn-info btn-social" action="#{manageEducationsControl.save}" update=":globalMessages form" disabled="#{manageEducationsControl.readOnly}" icon="fa fa-save" value="#{msgs['crud.button.save']}"/>
	        	<p:commandButton pt:class="btn btn-block btn-warning btn-social" immediate="true" action="#{manageEducationsControl.list}" icon="fa fa-rotate-left" disabled="#{manageEducationsControl.selectedEntity == null}" value="#{msgs['crud.button.back']}"/>
	    </ui:decorate>	
					
	</ui:decorate>
	
	<script>
    jQuery(function($){
               $("#year").mask("9999");     
    });
	</script>
	
</ui:define>
</ui:composition>