<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title"><h:outputText value="#{msgsSAE['manageEducations.title']}" /></ui:define>

<ui:define name="description"><h:outputText value="#{msgsSAE['manageEducations.title.description']}" /></ui:define>

<ui:define name="body">
	
	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
			<ui:param name="formName" value="listingForm" />
			<ui:param name="formLabel" value="#{msgsSAE['manageEducations.title.box.list']}" /> 
	   		<p:dataTable
	           				 	widgetVar="listingTable"
                 			    rowIndexVar="rowIndex"
                       			tableStyleClass="table table-bordered table-striped"
                        		value="#{manageEducationsControl.lazyEntities}" 
                        		var="entity" 
                        		rows="#{manageEducationsControl.entityCount}" 
                        		lazy="true" 
                           		selection="#{manageEducationsControl.selectedEntity}" 
                        		selectionMode="single" 
                        		loadingMessage="#{msgsSAE['text.ajax.loading']}" 
                        		emptyMessage="#{manageEducationsControl.filtering ? msgsSAE['manageEducations.text.noEntitiesFiltered'] : msgsSAE['manageEducations.text.noEntities']}">
												
        				<p:column headerText="#{msgsSAE['manageEducations.title.degree']}"  style="text-align: center;">
                			<h:outputText value="#{entity.degree.label}" />
                		</p:column>
                		<p:column headerText="#{msgsSAE['manageEducations.title.institution']}"  style="text-align: center;">
                			<h:outputText  value="#{entity.institution}" />
                		</p:column>
                		<p:column headerText="#{msgsSAE['manageEducations.title.year']}"  style="text-align: center; width:20%;">
                			<h:outputText  value="#{entity.year}" />
                		</p:column> 
                		
                		<p:ajax event="rowSelect" update=":buttonsForm" />
        			</p:dataTable>
        	</ui:decorate>
        
        <h:form id="buttonsForm">
		    <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-04.xhtml">
		       	<p:commandButton pt:class="btn btn-block btn-success btn-social" action="#{manageEducationsControl.create}"   icon="fa fa-user-plus" value="#{msgs['crud.button.create']}"/>
		       	<p:commandButton rendered="#{manageEducationsControl.selectedEntity != null}" pt:class="btn btn-block btn-info btn-social" action="#{manageEducationsControl.retrieve}" icon="fa fa-file-text" disabled="#{manageEducationsControl.selectedEntity == null}" value="#{msgs['crud.button.retrieve']}"/>      	
		      	<p:commandButton rendered="#{manageEducationsControl.selectedEntity != null}" pt:class="btn btn-block btn-warning btn-social" action="#{manageEducationsControl.update}" icon="fa fa-refresh" disabled="#{manageEducationsControl.selectedEntity == null}" value="#{msgs['crud.button.update']}"/>
		      	<p:commandButton process="@this" ajax=":trashForm"  update=":trashForm" rendered="#{manageEducationsControl.selectedEntity != null}" pt:class="btn btn-block btn-danger btn-social" action="#{manageEducationsControl.trash}" icon="fa fa-trash-o" disabled="#{manageEducationsControl.selectedEntity == null}" value="#{msgs['crud.button.delete']}"/>
			</ui:decorate>
		</h:form>
			
	    <p>&nbsp;</p>
        	
        <h:panelGroup id="trashpanel" rendered="#{not empty manageEducationsControl.trashCan}" >
	    <ui:decorate template="/resources/#{coreInfo.decorator}/dangerform.xhtml">
				<ui:param name="formName" value="trashForm" />
				<ui:param name="formLabel" value="#{msgsSAE['manageEducations.title.box.trash']}" /> 
				
				<h3><h:outputText  value="#{msgs['crud.text.trashHeader']}" /></h3>
		        <p:dataList value="#{manageEducationsControl.trashCan}" var="entity" type="ordered">
		            	#{entity.degree.label} 
		        </p:dataList> 
		        <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
						<p:commandButton ajax=":trashForm :buttonsForm :listingForm" update=":trashForm :buttonsForm :listingForm" pt:class="btn btn-block btn-warning btn-social" action="#{manageEducationsControl.cancelDeletion}"   icon="fa fa-close" value="#{msgs['crud.button.cancelDeletion']}"/>
			        	<p:commandButton ajax=":trashForm :buttonsForm :listingForm"  update=":trashForm :buttonsForm :listingForm"  pt:class="btn btn-block btn-danger btn-social" action="#{manageEducationsControl.delete}" icon="fa fa-trash-o"  value="#{msgs['crud.button.confirmDeletion']}"/>
		        </ui:decorate>			
		</ui:decorate> 
		</h:panelGroup>
        	
	</ui:define> <!-- DEFINE BODY. -->
</ui:composition>