<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
	
	<ui:define name="title"><h:outputText value="#{msgsCore['installSystem.title']}" /></ui:define>
    
    <ui:define name="description"><h:outputText value="#{msgsCore['installSystem.title.description']}" /></ui:define>

  	<ui:define name="body">
		<!-- Shown only if the system is already installed. -->
		<h:panelGroup id="systemInstalled" rendered="#{coreInfo.systemInstalled}">
			<p><h:outputText value="#{msgsCore['installSystem.text.systemAlreadyInstalled']}" /></p>
		</h:panelGroup>

		<!-- Shown when the system is not yet installed. -->
		<h:panelGroup id="systemNotInstalled" rendered="#{not coreInfo.systemInstalled}">
			<p><h:outputText value="#{msgsCore['installSystem.text.instructions.admin']}" /></p>

			<!-- The form to be filled with information on the administrator. -->
			<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
				<ui:param name="formName" value="form" /> 
				<ui:param name="formLabel" value="#{msgsCore['installSystem.form.admin']}" />
				<p:focus />

				<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
					<ui:param name="fieldName" value="name" />
					<ui:param name="label" value="#{msgsCore['installSystem.field.admin.name']}" />
					<p:inputText id="name" value="#{installSystemController.admin.name}" required="true" pt:placeholder="#{msgsCore['installSystem.field.admin.name.placeholder']}">
						<f:ajax event="blur" render="nameField shortNameField" listener="#{installSystemController.suggestShortName}" />
					</p:inputText>
				</ui:decorate>

				<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
					<ui:param name="fieldName" value="email" />
					<ui:param name="label" value="#{msgsCore['installSystem.field.admin.email']}" />
					<p:inputText id="email" value="#{installSystemController.admin.email}" required="true" pt:placeholder="#{msgsCore['installSystem.field.admin.email.placeholder']}">
						<f:ajax event="blur" render="emailField" />
					</p:inputText>
				</ui:decorate>

				<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
					<ui:param name="fieldName" value="shortName" />
					<ui:param name="label" value="#{msgsCore['installSystem.field.admin.shortName']}" />
					<p:inputText id="shortName" value="#{installSystemController.admin.shortName}" required="true" pt:placeholder="#{msgsCore['installSystem.field.admin.shortName.placeholder']}">
						<f:ajax event="blur" render="shortNameField" />
					</p:inputText>
				</ui:decorate>

				<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
					<ui:param name="fieldName" value="password" />
					<ui:param name="label" value="#{msgsCore['installSystem.field.admin.password']}" />
					<p:password id="password" minLength="6" value="#{installSystemController.admin.password}" required="true" feedback="true" promptLabel="#{msgs['primefaces.password.prompt']}" weakLabel="#{msgs['primefaces.password.weak']}" goodLabel="#{msgs['primefaces.password.good']}" strongLabel="#{msgs['primefaces.password.strong']}" />
				</ui:decorate>

				<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
					<ui:param name="fieldName" value="repeatPassword" />
					<ui:param name="label" value="#{msgsCore['installSystem.field.admin.repeatPassword']}" />
					<p:password id="repeatPassword" value="#{installSystemController.repeatPassword}" required="true" feedback="false">
						<f:ajax event="blur" render=":globalMessages" listener="#{installSystemController.ajaxCheckPasswords}" execute="password repeatPassword" />
					</p:password>
				</ui:decorate>

				<ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-01.xhtml">
					<p:commandButton pt:class="btn btn-block btn-success btn-social" action="#{installSystemController.registerAdministrator}" value="#{msgsCore['installSystem.button.registerAdministrator']}" update=":globalMessages form" icon="fa fa-fw fa-save" />
				</ui:decorate>
			</ui:decorate>
		</h:panelGroup>
	</ui:define>
</ui:composition>
