<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title">
	<h:outputText value="#{msgsSAE['manageCoursesRealized.title.create']}" 
				  rendered="#{(! manageCoursesRealizedControl.readOnly) and (manageCoursesRealizedControl.selectedEntity.id == null)}" />
    <h:outputText value="#{msgsSAE['manageCoursesRealized.title.update']}" 
    			  rendered="#{(! manageCoursesRealizedControl.readOnly) and (manageCoursesRealizedControl.selectedEntity.id != null)}" />
       <h:outputText value="#{msgsSAE['manageCoursesRealized.title.retrieve']}" rendered="#{manageCoursesRealizedControl.readOnly}" />
</ui:define>

<ui:define name="body">
				
	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
		<ui:param name="formName" value="form" /> 
		<ui:param name="formLabel" value="#{msgsSAE['manageCoursesRealized.title.form']}" />
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="alumni"/>
			<ui:param name="label" value="#{msgsSAE['manageCoursesRealized.title.alumni']}"/>	
					<h:selectOneMenu pt:class="form-control"  id="alumni" value="#{manageCoursesRealizedControl.selectedEntity.alumni}" 
									 required="true" converter="#{coreController.academicConverter}"  
									 disabled="#{(manageCoursesRealizedControl.readOnly) or (manageCoursesRealizedControl.selectedEntity.id != null)}">
						<f:selectItem itemLabel="#{msgsSAE['manageCoursesRealized.form.alumni.blankOption']}" itemValue="" />
						<f:selectItems value="#{coreController.alumnis}" var="alumni" itemLabel="#{alumni.name}" 
									   itemValue="#{alumni}" />
						<p:ajax  update="alumniField" />
					</h:selectOneMenu>
		</ui:decorate>
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="course"/>
			<ui:param name="label" value="#{msgsSAE['manageCoursesRealized.title.course']}"/>
					<h:selectOneMenu pt:class="form-control"  id="course" value="#{manageCoursesRealizedControl.selectedEntity.course}" 
									 required="true" converter="#{coreController.courseConverter}"  
									 disabled="#{(manageCoursesRealizedControl.readOnly) or (manageCoursesRealizedControl.selectedEntity.id != null)}">
						<f:selectItem itemLabel="#{msgsSAE['manageCoursesRealized.form.course.blankOption']}" itemValue="" />
						<f:selectItems value="#{manageCourseController.entities}" var="course" itemLabel="#{course.name}" itemValue="#{course}"/>
						<p:ajax  update="courseField" />
					</h:selectOneMenu>
		</ui:decorate>
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="registration"/>
			<ui:param name="label" value="#{msgsSAE['manageCoursesRealized.title.registration']}"/>			
					<p:inputText id="registration" pt:class="form-control" disabled="#{(manageCoursesRealizedControl.readOnly) or (manageCoursesRealizedControl.selectedEntity.id != null)}" 
								 pt:type="number" pt:placeholder="#{msgsSAE['manageCoursesRealized.placeholder.registration']}" 
								 value="#{manageCoursesRealizedControl.selectedEntity.registration}"  required="true">
						<p:ajax event="blur" update="registrationField" />
					</p:inputText>
		</ui:decorate>
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="startYear"/>
			<ui:param name="label" value="#{msgsSAE['manageCoursesRealized.title.startYear']}"/>										
					<p:inputText id="startYear" pt:class="form-control" disabled="#{(manageCoursesRealizedControl.readOnly)}" pt:type="number" 
								 pt:placeholder="#{msgsSAE['manageCoursesRealized.placeholder.startYear']}" 
								 value="#{manageCoursesRealizedControl.selectedEntity.startYear}"  required="true">
						<f:convertNumber pattern="####"  maxIntegerDigits="4" minIntegerDigits="4"/>
						<p:ajax event="blur" update="startYearField" />
					</p:inputText>  
		</ui:decorate>
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="endYear"/>
			<ui:param name="label" value="#{msgsSAE['manageCoursesRealized.title.endYear']}"/>		
					<p:inputText id="endYear" pt:class="form-control" disabled="#{(manageCoursesRealizedControl.readOnly)}" pt:type="number" 
								 pt:placeholder="#{msgsSAE['manageCoursesRealized.placeholder.termino']}" value="#{manageCoursesRealizedControl.selectedEntity.endYear}" 
								 required="true">
							<f:convertNumber pattern="####"  maxIntegerDigits="4" minIntegerDigits="4" />
						<p:ajax event="blur" update="endYearField" />
					</p:inputText>
		</ui:decorate>
					
		<ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
	        	<p:commandButton pt:class="btn btn-block btn-info btn-social" action="#{manageCoursesRealizedControl.save}" update=":globalMessages form" disabled="#{manageCoursesRealizedControl.readOnly}" icon="fa fa-save" value="#{msgs['crud.button.save']}"/>
	        	<p:commandButton pt:class="btn btn-block btn-warning btn-social" immediate="true" action="#{manageCoursesRealizedControl.list}" icon="fa fa-rotate-left" disabled="#{manageCoursesRealizedControl.selectedEntity == null}" value="#{msgs['crud.button.back']}"/>
	    </ui:decorate>	
	    	
	</ui:decorate>
	
</ui:define>
</ui:composition>