<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
               template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title">
	<h:outputText value="#{msgsSAE['manageHistoryAlumni.title.create']}" 
				  rendered="#{(! manageHistoryAlumniControl.readOnly) and (manageHistoryAlumniControl.selectedEntity.id == null)}" />
   	<h:outputText value="#{msgsSAE['manageHistoryAlumni.title.update']}" 
   				  rendered="#{(! manageHistoryAlumniControl.readOnly) and (manageHistoryAlumniControl.selectedEntity.id != null)}" />
    <h:outputText value="#{msgsSAE['manageHistoryAlumni.title.retrieve']}" rendered="#{manageHistoryAlumniControl.readOnly}" />
</ui:define>

<ui:define name="body">

	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
		<ui:param name="formName" value="form" /> 
		<ui:param name="formLabel" value="#{msgsSAE['manageHistoryAlumni.title.form']}" />
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="salary_Level"/>
			<ui:param name="label" value="#{msgsSAE['manageHistoryAlumni.title.salary_Level']}"/>
					<h:selectOneMenu  id="salary_Level" pt:class="form-control" value="#{manageHistoryAlumniControl.selectedEntity.salary_Level}"   required="true" disabled="#{manageHistoryAlumniControl.readOnly}">
							<f:selectItem itemLabel="#{msgsSAE['manageHistoryAlumni.form.salary_Level.blankOption']}" itemValue="" />
							<f:selectItems value="#{publicoControl.salary_Level}" var="type" itemLabel="#{type.label}" itemValue="#{type}" />
							<p:ajax update="salary_LevelField" />
					</h:selectOneMenu>	
		</ui:decorate>	
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="acting_Area"/>
			<ui:param name="label" value="#{msgsSAE['manageHistoryAlumni.title.acting_Area']}"/>
			<h:selectOneMenu  id="acting_Area" pt:class="form-control" value="#{manageHistoryAlumniControl.selectedEntity.acting_Area}"   required="true" disabled="#{manageHistoryAlumniControl.readOnly}">
							<f:selectItem itemLabel="#{msgsSAE['manageHistoryAlumni.form.acting_Area.blankOption']}" itemValue="" />
							<f:selectItems value="#{publicoControl.acting_Area}" var="type" itemLabel="#{type.label}" itemValue="#{type}" />
							<p:ajax update="acting_AreaField" />
					</h:selectOneMenu>	
		</ui:decorate>
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="operates_in_area_formation"/>
			<ui:param name="label" value="#{msgsSAE['manageHistoryAlumni.tilte.operates_in_area_formation']}"/>
					<h:selectOneMenu required="true" pt:class="form-control" id="operates_in_area_formation" value="#{manageHistoryAlumniControl.selectedEntity.operates_in_area_formation}" 
									 disabled="#{manageHistoryAlumniControl.readOnly}" >
						<f:selectItem itemLabel="#{msgsSAE['manageHistoryAlumni.form.operates_in_area_formation.blankOption']}" itemValue="" />
						<f:selectItems value="#{publicoControl.formation_Area}" var="type" itemLabel="#{type.label}" itemValue="#{type}" />
						<p:ajax event="change" update="operates_in_area_formationField" />
					</h:selectOneMenu>
		</ui:decorate>
			
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="lives_in_ES"/>
			<ui:param name="label" value="#{msgsSAE['manageHistoryAlumni.tilte.lives_in_ES']}"/>
					<h:selectOneMenu  id="lives_in_ES" pt:class="form-control" value="#{manageHistoryAlumniControl.selectedEntity.lives_in_ES}"   required="true" disabled="#{manageHistoryAlumniControl.readOnly}">
							<f:selectItem itemLabel="#{msgsSAE['manageHistoryAlumni.form.lives_in_ES.blankOption']}" itemValue="" />
							<f:selectItem itemLabel="lives in ES" itemValue="true" />
							<f:selectItem itemLabel="No lives in ES" itemValue="false" />
							<p:ajax update="lives_in_ESField" />
					</h:selectOneMenu>	
		</ui:decorate>
			
			
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="degree"/>
			<ui:param name="label" value="#{msgsSAE['manageHistoryAlumni.title.degree']}"/>
							<h:selectOneMenu  id="degree" pt:class="form-control" value="#{manageHistoryAlumniControl.selectedEntity.degree_Education}" 
							 				  required="true" disabled="#{manageHistoryAlumniControl.readOnly}">
									<f:selectItem itemLabel="#{msgsSAE['manageHistoryAlumni.degree.blankOption']}" itemValue="" />
									<f:selectItems value="#{publicoControl.degree_Education}" var="type" itemLabel="#{type.label}" itemValue="#{type}" />
									<p:ajax update="degreeField" />
							</h:selectOneMenu>	
		</ui:decorate>
			
			
			
			
			
			
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="topicsOfInterest" />
			<ui:param name="label" value="#{msgsSAE['publicoControl.title.topicsOfInterest']}" />
			
			<p:selectManyCheckbox layout="pageDirection"   id="topicsOfInterest" converter="#{coreSaeControl.topicOfInterestConverter}" 
								 value="#{manageHistoryAlumniControl.myAssuntos}"  required="true" disabled="#{manageHistoryAlumniControl.readOnly}">
				<f:selectItems   value="#{manageHistoryAlumniControl.listarAssuntos}" var="type" itemLabel="#{type.name}" itemValue="#{type}" />
				<f:ajax  render="topicsOfInterestField" />
			</p:selectManyCheckbox>
				
		</ui:decorate>
			
			
			
			
			
			
			
			
			
		<ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
	        	<p:commandButton pt:class="btn btn-block btn-info btn-social" action="#{manageHistoryAlumniControl.save}" update=":globalMessages form" disabled="#{manageHistoryAlumniControl.readOnly}" icon="fa fa-save" value="#{msgs['crud.button.save']}"/>
	        	<p:commandButton pt:class="btn btn-block btn-warning btn-social" immediate="true" action="#{manageHistoryAlumniControl.list}" icon="fa fa-rotate-left" disabled="#{manageHistoryAlumniControl.selectedEntity == null}" value="#{msgs['crud.button.back']}"/>
	    </ui:decorate>	
		
	</ui:decorate>
	
</ui:define>
</ui:composition>