<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title"><h:outputText value="#{msgsSAE['manageHistoryAlumni.title']}" /></ui:define>

<ui:define name="body">

	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
			<ui:param name="formName" value="listingForm" />
			<ui:param name="formLabel" value="#{msgsSAE['manageHistoryAlumni.title.box.list']}" /> 
			<p:dataTable
	    			 	widgetVar="listingTable"
           			    rowIndexVar="rowIndex"
               			tableStyleClass="table table-bordered table-striped"
                   		value="#{manageHistoryAlumniControl.lazyEntities}" 
                   		var="entity" 
                   		rows="#{manageHistoryAlumniControl.entityCount}" 
                        lazy="true" 
                        selection="#{manageHistoryAlumniControl.selectedEntity}" 
                        selectionMode="single" 
                        loadingMessage="#{msgsSAE['text.ajax.loading']}" 
                        emptyMessage="#{manageHistoryAlumniControl.filtering ? msgsSAE['manageHistoryAlumni.text.noEntitiesFiltered'] : msgsSAE['manageHistoryAlumni.text.noEntities']}">
												
        		<p:column headerText="#{msgsSAE['manageHistoryAlumni.title.acting_Area']}"  style="text-align: center;">
                	<h:outputText value="#{entity.acting_Area.label}" />
                </p:column>
                
                <p:column headerText="#{msgsSAE['manageHistoryAlumni.title.send_date']}" style="text-align: center; width:35%;">
                	<h:outputText  value="#{entity.send_date}" >
                		<f:convertDateTime type="date" pattern="#{msgs['format.date.java']}" locale="pt_BR" timeZone="America/Sao_Paulo"/>
                	</h:outputText>
                </p:column>
                <p:ajax event="rowSelect" update=":buttonsForm" />
        	</p:dataTable>
        </ui:decorate>
        
        <h:form id="buttonsForm">
		    <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-04.xhtml">
		       	<p:commandButton pt:class="btn btn-block btn-success btn-social" action="#{manageHistoryAlumniControl.create}"   icon="fa fa-user-plus" value="#{msgs['crud.button.create']}"/>
		       	<p:commandButton rendered="#{manageHistoryAlumniControl.selectedEntity != null}" pt:class="btn btn-block btn-info btn-social" action="#{manageHistoryAlumniControl.retrieve}" icon="fa fa-file-text" disabled="#{manageHistoryAlumniControl.selectedEntity == null}" value="#{msgs['crud.button.retrieve']}"/>      	
		      	<p:commandButton rendered="#{(manageHistoryAlumniControl.selectedEntity != null) and (manageHistoryAlumniControl.alteravel)}" pt:class="btn btn-block btn-warning btn-social" action="#{manageHistoryAlumniControl.update}" icon="fa fa-refresh" disabled="#{manageHistoryAlumniControl.selectedEntity == null}" value="#{msgs['crud.button.update']}"/>
		      	<p:commandButton process="@this" ajax=":trashForm"  update=":trashForm" rendered="#{(manageHistoryAlumniControl.selectedEntity != null) and (manageHistoryAlumniControl.alteravel)}" pt:class="btn btn-block btn-danger btn-social" action="#{manageHistoryAlumniControl.trash}" icon="fa fa-trash-o" disabled="#{manageHistoryAlumniControl.selectedEntity == null}" value="#{msgs['crud.button.delete']}"/>
			</ui:decorate>
		</h:form>
			
	    <p>&nbsp;</p>
        	
        <h:panelGroup id="trashpanel" rendered="#{not empty manageHistoryAlumniControl.trashCan}" >
	    <ui:decorate template="/resources/#{coreInfo.decorator}/dangerform.xhtml">
				<ui:param name="formName" value="trashForm" />
				<ui:param name="formLabel" value="#{msgsSAE['manageHistoryAlumni.title.box.trash']}" /> 
				
				<h3><h:outputText  value="#{msgs['crud.text.trashHeader']}" /></h3>
		        <p:dataList value="#{manageHistoryAlumniControl.trashCan}" var="entity" type="ordered">
		            	<h:outputText  value="#{entity.send_date}" >
	                		<f:convertDateTime type="date" pattern="#{msgsSAE['format.date.java']}" locale="pt_BR" timeZone="America/Sao_Paulo"/>
	                	</h:outputText>
		        </p:dataList> 
		        <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
						<p:commandButton ajax=":trashForm :buttonsForm :listingForm" update=":trashForm :buttonsForm :listingForm" pt:class="btn btn-block btn-warning btn-social" action="#{manageHistoryAlumniControl.cancelDeletion}"   icon="fa fa-close" value="#{msgs['crud.button.cancelDeletion']}"/>
			        	<p:commandButton ajax=":trashForm :buttonsForm :listingForm"  update=":trashForm :buttonsForm :listingForm"  pt:class="btn btn-block btn-danger btn-social" action="#{manageHistoryAlumniControl.delete}" icon="fa fa-trash-o"  value="#{msgs['crud.button.confirmDeletion']}"/>
		        </ui:decorate>			
		</ui:decorate> 
		</h:panelGroup>
        
</ui:define> <!-- DEFINE BODY. -->
</ui:composition>