<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title">
	<h:outputText value="#{msgsSAE['searchStatisticData.menu.search']}"  />
</ui:define>

	
<ui:define name="body">

	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
		<ui:param name="formName" value="form" /> 
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="course"/>
			<ui:param name="label" value="#{msgsSAE['searchStatisticData.title.course']}"/>	
			<h:selectOneMenu pt:class="form-control"  id="course" value="#{searchStatisticDataControl.course}" 
							 required="true" converter="#{coreController.courseConverter}">
				<f:selectItem itemLabel="#{msgsSAE['searchStatisticData.course.blankOption']}" itemValue="" />
				<f:selectItems value="#{coreController.courses}" var="course" itemLabel="#{course.name}" itemValue="#{course}"/>
				<p:ajax  update="courseField" />
			</h:selectOneMenu>
		</ui:decorate>
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-01.xhtml">
	        	<p:commandButton pt:class="btn btn-block btn-info btn-social" action="#{searchStatisticDataControl.selectGraphic()}" icon="fa  fa-arrow-right" value="#{msgsSAE['searchStatisticData.title.search']}"/>
	    </ui:decorate>	
			
	</ui:decorate>
					
</ui:define>
</ui:composition>
