<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
    
    <ui:define name="title">
		<h:outputText value="#{msgsSAE['manageCoursesRealized.title.course']}: #{searchStatisticDataControl.course}"  />
	</ui:define>
	         
    <ui:define name="body">
      	
      	 <div class="row">
      		
      		<!-- Left col -->
            <section class="col-lg-6 connectedSortable">
              
		              <ui:decorate template="/resources/sae/form.xhtml">
							<ui:param name="formName" value="#{msgsSAE['searchStatisticData.button.search.gender']}" />
							  	<p:chart  type="pie" model="#{searchStatisticDataControl.graphic_gender}"  style="height:500px" responsive="true" />
							<h:outputText value="#{msgsSAE['searchStatisticData.number.alumni.search']} = #{searchStatisticDataControl.numberAlumni}"/>	    
					  </ui:decorate>
					  
					  
					  
		           
            </section><!-- /.Left col -->
            
            
            
            <!-- right col -->
            <section class="col-lg-6 connectedSortable">

				
			    
            </section><!-- right col -->
          
          </div><!-- /.row (main row) -->
      	
    </ui:define>       
</ui:composition>