<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
           
           
    <ui:define name="title">
		<h:outputText value="#{msgsSAE['manageCoursesRealized.title.course']}: #{searchStatisticDataControl.course}"  />
	</ui:define>

     
    <ui:define name="body">
      	
      	 <div class="row">
      		
      		<!-- Left col -->
            <section class="col-lg-6 connectedSortable">
              
		              <ui:decorate template="/resources/sae/form.xhtml">
							<ui:param name="formName" value="#{msgsSAE['searchStatisticData.button.search.salaryLevel']}" />
							  	<p:chart   type="pie" model="#{searchStatisticDataControl.graphic_salaryLevel}"  style="height:500px" responsive="true" />
							<h:outputText value="#{msgsSAE['searchStatisticData.number.alumni.search']} = #{searchStatisticDataControl.numberAlumni}"/>	    
					  </ui:decorate>
					  
					  
					  <ui:decorate template="/resources/sae/form.xhtml">
							<ui:param name="formName" value="#{msgsSAE['searchStatisticData.button.search.salaryLevel']}" />
							  	<p:chart  type="pie" model="#{searchStatisticDataControl.graphic_salaryLevel_teacher}"  style="height:500px" responsive="true" />
							<h:outputText value="#{msgsSAE['searchStatisticData.number.alumni.search']} = #{searchStatisticDataControl.number_salaryLevel_teacher}"/>	    
					  </ui:decorate>
		           
            </section><!-- /.Left col -->
            
            
            
            <!-- right col -->
            <section class="col-lg-6 connectedSortable">

				<ui:decorate template="/resources/sae/form.xhtml">
					<ui:param name="formName" value="#{msgsSAE['searchStatisticData.button.search.salaryLevel']}" />
				    <p:chart type="pie" model="#{searchStatisticDataControl.graphic_salaryLevel_residential}"  style="height:500px" responsive="true" />
					<h:outputText value="#{msgsSAE['searchStatisticData.number.alumni.search']} = #{searchStatisticDataControl.number_salaryLevel_residential}"/>   
			     </ui:decorate>
			     
			     <ui:decorate template="/resources/sae/form.xhtml">
					<ui:param name="formName" value="#{msgsSAE['searchStatisticData.button.search.salaryLevel']}" />
			      	<p:chart  type="pie" model="#{searchStatisticDataControl.graphic_salaryLevel_businessman}"  style="height:500px" responsive="true" />
				    <h:outputText value="#{msgsSAE['searchStatisticData.number.alumni.search']} = #{searchStatisticDataControl.number_salaryLevel_businessman}"/>
			 	</ui:decorate>
			     
            </section><!-- right col -->
          
          </div><!-- /.row (main row) -->
      	
    </ui:define>       
</ui:composition>