<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">


<ui:define name="title">
	<h:outputText value="#{msgsSAE['searchStatisticData.title.grafico']}"  />
</ui:define>

	
<ui:define name="body">

	<ui:decorate template="/resources/sae/form.xhtml">
		
		<h:form id="form" pt:class="form-horizontal">
		
	
				
			<ui:decorate template="/resources/sae/formbutton.xhtml">
				<div class="form-group">	
					<div class="col-sm-4"/>
            		<div class="col-sm-4">
            			<a 	class="btn btn-block btn-info btn-social" 
            				jsf:action="#{searchStatisticDataControl.search_Salary_Level()}">
            				<i class="fa  fa-arrow-right"></i> 
            				<h:outputText value="#{msgsSAE['searchStatisticData.button.search.salaryLevel']}"/>
            			</a>
               		</div>
				</div>
			</ui:decorate>
			
			
			
			
			<ui:decorate template="/resources/sae/formbutton.xhtml">
				<div class="form-group">	
					<div class="col-sm-4"/>
            		<div class="col-sm-4">
            			<a 	class="btn btn-block btn-info btn-social" 
            				jsf:action="#{searchStatisticDataControl.search_residential()}">
            				<i class="fa  fa-arrow-right"></i> 
            				<h:outputText value="#{msgsSAE['searchStatisticData.button.search.residential']}"/>
            			</a>
               		</div>
				</div>
			</ui:decorate>
			
			
			
			
			<ui:decorate template="/resources/sae/formbutton.xhtml">
				<div class="form-group">	
					<div class="col-sm-4"/>
            		<div class="col-sm-4">
            			<a 	class="btn btn-block btn-info btn-social" 
            				jsf:action="#{searchStatisticDataControl.search_Acting_Area()}">
            				<i class="fa  fa-arrow-right"></i> 
            				<h:outputText value="#{msgsSAE['searchStatisticData.button.search.actingArea']}"/>
            			</a>
               		</div>
				</div>
			</ui:decorate>
			
			
			
			
			<ui:decorate template="/resources/sae/formbutton.xhtml">
				<div class="form-group">	
					<div class="col-sm-4"/>
            		<div class="col-sm-4">
            			<a 	class="btn btn-block btn-info btn-social" 
            				jsf:action="#{searchStatisticDataControl.search_Gender()}">
            				<i class="fa  fa-arrow-right"></i> 
            				<h:outputText value="#{msgsSAE['searchStatisticData.button.search.gender']}"/>
            			</a>
               		</div>
				</div>
			</ui:decorate>
			
			
			
			<ui:decorate template="/resources/sae/formbutton.xhtml">
				<div class="form-group">	
					<div class="col-sm-4"/>
            		<div class="col-sm-4">
            			<a 	class="btn btn-block btn-info btn-social" 
            				jsf:action="#{searchStatisticDataControl.search_Formation_Area()}">
            				<i class="fa  fa-arrow-right"></i> 
            				<h:outputText value="#{msgsSAE['searchStatisticData.button.search.formationArea']}"/>
            			</a>
               		</div> 
				</div>
			</ui:decorate>
			
			
			
			<ui:decorate template="/resources/sae/formbutton.xhtml">
				<div class="form-group">	
					<div class="col-sm-4"/>
            		<div class="col-sm-4">
            			<a 	class="btn btn-block btn-info btn-social" 
            				jsf:action="#{searchStatisticDataControl.search_Degree_Education()}">
            				<i class="fa  fa-arrow-right"></i> 
            				<h:outputText value="#{msgsSAE['searchStatisticData.button.search.degreeEducation']}"/>
            			</a>
               		</div> 
				</div>
			</ui:decorate>
			
		
			
			
		</h:form>
	</ui:decorate>
	
</ui:define>
</ui:composition>
