<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title"> 
	<h:outputText value="#{msgsSAE['manageTopicsOfInterest.title.create']}" 
				  rendered="#{(! manageTopicsOfInterestControl.readOnly) and (manageTopicsOfInterestControl.selectedEntity.id == null)}" />
   	<h:outputText value="#{msgsSAE['manageTopicsOfInterest.title.update']}" 
   				  rendered="#{(! manageTopicsOfInterestControl.readOnly) and (manageTopicsOfInterestControl.selectedEntity.id != null)}" />
    <h:outputText value="#{msgsSAE['manageTopicsOfInterest.title.retrieve']}" rendered="#{manageTopicsOfInterestControl.readOnly}" />
</ui:define>
	
<ui:define name="body">

	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsCore['manageTopicsOfInterest.title.form']}" />

		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="name"/>
			<ui:param name="label" value="#{msgsSAE['manageTopicsOfInterest.title.name']}"/>
					<p:inputText id="name" pt:class="form-control" disabled="#{manageTopicsOfInterestControl.readOnly}" required="true"
								 pt:placeholder="#{msgsSAE['manageTopicsOfInterest.placeholder.nome']}" value="#{manageTopicsOfInterestControl.selectedEntity.name}">
						<p:ajax event="blur" update="nameField" />
					</p:inputText>
		</ui:decorate>
					
			<ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
	        	<p:commandButton pt:class="btn btn-block btn-info btn-social" action="#{manageTopicsOfInterestControl.save}" update=":globalMessages form" disabled="#{manageTopicsOfInterestControl.readOnly}" icon="fa fa-save" value="#{msgs['crud.button.save']}"/>
	        	<p:commandButton pt:class="btn btn-block btn-warning btn-social" immediate="true" action="#{manageTopicsOfInterestControl.list}" icon="fa fa-rotate-left"  value="#{msgs['crud.button.back']}"/>
	        </ui:decorate>
				
	</ui:decorate>
	
</ui:define>
</ui:composition>