<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title"><h:outputText value="#{msgsSAE['manageTopicsOfInterest.title']}" /></ui:define>

<ui:define name="body">
	
	<!-- The listing form. -->
	<h:panelGroup  id="filterBar" rendered="#{(not empty manageTopicsOfInterestControl.filters)}">
		<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml" >
			<ui:param name="formName" value="filterForm" />
			<ui:param name="formLabel" value="#{msgsSAE['manageTopicsOfInterest.title.form.filter']}" /> 

   				<div class="form-group">	
	       			<div class="col-sm-3">
		       			<h:selectOneMenu styleClass="form-control" value="#{manageTopicsOfInterestControl.filterKey}" id="filter" required="true">
	           				<f:selectItems value="#{manageTopicsOfInterestControl.filters}" var="filter" itemLabel="#{filter.label}" itemValue="#{filter.key}" />
		            		<f:ajax event="change" execute="@form" listener="#{manageTopicsOfInterestControl.changeFilter}" render="@form :listingForm"  />
	           			</h:selectOneMenu>
	           		</div>
	        		<div class="col-sm-4">
	        			<h:selectOneMenu styleClass="form-control" id="filterSelect" required="false" value="#{manageTopicsOfInterestControl.filterParam}" rendered="#{manageTopicsOfInterestControl.filter.options != null}">
		           			<f:selectItems value="#{manageTopicsOfInterestControl.filter.reversedOptionsLabels}" />
		           		</h:selectOneMenu>
			 	    	<p:inputText pt:class="form-control" placeholder="#{msgs['crud.filter.placeholder']}" id="filterText"  required="false" value="#{manageTopicsOfInterestControl.filterParam}" rendered="#{manageTopicsOfInterestControl.filter.options == null}" />
           			</div>
           			<div class="col-sm-2">
           				<a class="btn btn-block btn-info btn-social" jsf:process="@form" jsf:action="#{manageTopicsOfInterestControl.filter}" jsf:update=":listingForm @form" ><i class="fa fa-search"></i> <h:outputText value="#{msgs['crud.button.filter']}"/></a>
           			</div>
					<div class="col-sm-3" jsf:rendered="#{manageTopicsOfInterestControl.filtering}">
						<a class="btn btn-block btn-danger btn-social" jsf:process="@form" jsf:action="#{manageTopicsOfInterestControl.cancelFilter}" jsf:update=":listingForm @form" ><i class="fa fa-close"></i> <h:outputText value="#{msgs['crud.button.cancelFilter']}"/></a>
           			</div>
        		</div>
			</ui:decorate>
		</h:panelGroup>	
      	
        <ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
			<ui:param name="formName" value="listingForm" />
			<ui:param name="formLabel" value="#{msgsSAE['manageTopicsOfInterest.title.box.list']}" />   	
            
        	<p:dataTable
	    			 	widgetVar="listingTable"
            		    rowIndexVar="rowIndex"
                		tableStyleClass="table table-bordered table-striped"
                  		value="#{manageTopicsOfInterestControl.lazyEntities}" 
                   		var="entity" 
                   		rows="#{manageTopicsOfInterestControl.maxDataTableRowsPerPage}" 
                   		rowsPerPageTemplate="#{manageTopicsOfInterestControl.halfMaxDataTableRowsPerPage},#{manageTopicsOfInterestControl.maxDataTableRowsPerPage},#{manageTopicsOfInterestControl.doubleMaxDataTableRowsPerPage}"
                   		paginator="true" 
                  		lazy="true" 
                  		selection="#{manageTopicsOfInterestControl.selectedEntity}" 
                  		selectionMode="single" 
                  		paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" 
                  		paginatorPosition="bottom" 
                   		loadingMessage="#{msgsSAE['text.ajax.loading']}" 
                  		emptyMessage="#{manageTopicsOfInterestControl.filtering ? msgsSAE['manageTopicsOfInterest.text.noEntitiesFiltered'] : msgsSAE['manageTopicsOfInterest.text.noEntities']}">
												
        		<p:column headerText="#{msgsSAE['manageTopicsOfInterest.title.name']}"  style="text-align: center;">
            		<h:outputText value="#{entity.name}" />
            	</p:column>
                		
            	<p:ajax event="rowSelect" update=":buttonsForm" />
        	</p:dataTable>
		</ui:decorate>

		
		<h:form id="buttonsForm">
		    <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-04.xhtml">
		       	<p:commandButton pt:class="btn btn-block btn-success btn-social" action="#{manageTopicsOfInterestControl.create}"   icon="fa fa-user-plus" value="#{msgs['crud.button.create']}"/>
		       	<p:commandButton rendered="#{manageTopicsOfInterestControl.selectedEntity != null}" pt:class="btn btn-block btn-info btn-social" action="#{manageTopicsOfInterestControl.retrieve}" icon="fa fa-file-text" disabled="#{manageTopicsOfInterestControl.selectedEntity == null}" value="#{msgs['crud.button.retrieve']}"/>      	
		      	<p:commandButton rendered="#{manageTopicsOfInterestControl.selectedEntity != null}" pt:class="btn btn-block btn-warning btn-social" action="#{manageTopicsOfInterestControl.update}" icon="fa fa-refresh" disabled="#{manageTopicsOfInterestControl.selectedEntity == null}" value="#{msgs['crud.button.update']}"/>
		      	<p:commandButton process="@this" ajax=":trashForm"  update=":trashForm" rendered="#{manageTopicsOfInterestControl.selectedEntity != null}" pt:class="btn btn-block btn-danger btn-social" action="#{manageTopicsOfInterestControl.trash}" icon="fa fa-trash-o" disabled="#{manageTopicsOfInterestControl.selectedEntity == null}" value="#{msgs['crud.button.delete']}"/>
			</ui:decorate>
		</h:form>
			
    	<p>&nbsp;</p>
        		
        <h:panelGroup id="trashpanel" rendered="#{not empty manageTopicsOfInterestControl.trashCan}" >
		    <ui:decorate template="/resources/#{coreInfo.decorator}/dangerform.xhtml">
					<ui:param name="formName" value="trashForm" />
					<ui:param name="formLabel" value="#{msgsSAE['manageTopicsOfInterest.title.box.trash']}" /> 
					
					<h3><h:outputText  value="#{msgs['crud.text.trashHeader']}" /></h3>
			        <p:dataList value="#{manageTopicsOfInterestControl.trashCan}" var="entity" type="ordered">
			            	#{entity.name} 
			        </p:dataList> 
			        <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
							<p:commandButton ajax=":trashForm :buttonsForm :listingForm" update=":trashForm :buttonsForm :listingForm" pt:class="btn btn-block btn-warning btn-social" action="#{manageTopicsOfInterestControl.cancelDeletion}"   icon="fa fa-close" value="#{msgs['crud.button.cancelDeletion']}"/>
				        	<p:commandButton ajax=":trashForm :buttonsForm :listingForm"  update=":trashForm :buttonsForm :listingForm"  pt:class="btn btn-block btn-danger btn-social" action="#{manageTopicsOfInterestControl.delete}" icon="fa fa-trash-o"  value="#{msgs['crud.button.confirmDeletion']}"/>
			        </ui:decorate>			
			</ui:decorate> 
		</h:panelGroup>	
		       
</ui:define> <!-- DEFINE BODY. -->
</ui:composition>