<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">
                
<ui:define name="title">
	<h:outputText value="#{msgsSAE['searchTestimonies.title.testimonies']}"  />
</ui:define>
	
    <ui:define name="body">
      	 <div class="row">
		      	 <p:dataScroller value="#{searchTestimoniesControl.testimonies}" var="testimonies" chunkSize="5">		        
					            <ui:decorate template="/resources/sae/form.xhtml">
										<ui:param name="formName" value="#{testimonies.anonymous ?  msgsSAE['manageTestimonies.title.anonymous'] : testimonies.courseRealized.alumni}" />
										<h3><h:outputText value="#{testimonies.courseRealized.course.name}"/>	</h3>
										<h4><h:outputText value="#{testimonies.content}"/>	</h4>
										<div class="box-footer">
											<h:outputText value="#{testimonies.send_date}">
												<f:convertDateTime type="date" pattern="#{msgs['format.date.java']}" locale="pt_BR" timeZone="America/Sao_Paulo"/>
                							</h:outputText>	
									    </div> 
								</ui:decorate>
			    </p:dataScroller>
         </div>
    </ui:define>       
</ui:composition>