<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title">
	<h:outputText value="#{msgsCore['manageCourse.title.create']}"  
				  rendered="#{(! manageCourseController.readOnly) and (manageCourseController.selectedEntity.id == null)}" />
   	<h:outputText value="#{msgsCore['manageCourse.title.update']}" 
   				  rendered="#{(! manageCourseController.readOnly) and (manageCourseController.selectedEntity.id != null)}" />
    <h:outputText value="#{msgsCore['manageCourse.title.retrieve']}" rendered="#{manageCourseController.readOnly}" />
</ui:define>	
	
<ui:define name="body">
	
	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsCore['manageCourse.title.form']}" />
			
			<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
				<ui:param name="fieldName" value="name" />
				<ui:param name="label" value="#{msgsCore['manageCourse.title.name']}" />
				<p:inputText id="name" pt:class="form-control" required="true"
							 disabled="#{(manageCourseController.readOnly) or (manageCourseController.selectedEntity.id != null)}" 
							 pt:placeholder="#{msgsCore['manageCourse.placeholder.name']}" value="#{manageCourseController.selectedEntity.name}">
					<p:ajax event="blur" update="nameField" /> 
				</p:inputText>
			</ui:decorate>
				
			
			<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
				<ui:param name="fieldName" value="code" />
				<ui:param name="label" value="#{msgsCore['manageCourse.title.code']}" />
				<p:inputText id="code" pt:class="form-control" value="#{manageCourseController.selectedEntity.code}"
							 disabled="#{(manageCourseController.readOnly) or (manageCourseController.selectedEntity.id != null)}" 
							 pt:type="number" pt:placeholder="#{msgsCore['manageCourse.placeholder.code']}" required="true">
					<p:ajax event="blur" update="codeField" />
				</p:inputText>
			</ui:decorate>
			
			<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
				<ui:param name="fieldName" value="coordinator" />
				<ui:param name="label" value="#{msgsCore['manageCourse.title.coordinator']}" />
				<h:selectOneMenu pt:class="form-control"  id="coordinator" disabled="#{manageCourseController.readOnly}"
								 value="#{manageCourseController.selectedEntity.coordinator}" 
								 converter="#{coreController.academicConverter}" >
					<f:selectItems value="#{coreController.teachers}" var="coordenador" 
								   itemLabel="#{coordenador.name}" itemValue="#{coordenador}" />
					<p:ajax  update="coordinatorField" />
				</h:selectOneMenu>
			</ui:decorate>
					
			
			<ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
	        	<p:commandButton pt:class="btn btn-block btn-info btn-social" action="#{manageCourseController.save}" update=":globalMessages form" disabled="#{manageCourseController.readOnly}" icon="fa fa-save" value="#{msgs['crud.button.save']}"/>
	        	<p:commandButton pt:class="btn btn-block btn-warning btn-social" immediate="true" action="#{manageCourseController.list}" icon="fa fa-rotate-left"  value="#{msgs['crud.button.back']}"/>
	        </ui:decorate>
	        
	   
	</ui:decorate>
	
</ui:define>
</ui:composition>
