<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title"><h:outputText value="#{msgsCore['manageCourse.title']}" /></ui:define>
	
<ui:define name="body">

	<!-- The listing form. -->
	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
			<ui:param name="formName" value="listingForm" />
			<ui:param name="formLabel" value="#{msgsCore['manageCourse.title.box.list']}" /> 
        	<p:dataTable
	    			 	widgetVar="listingTable"
          			    rowIndexVar="rowIndex"
             			tableStyleClass="table table-bordered table-striped"
                  		value="#{manageCourseController.lazyEntities}" 
                  		var="entity" 
                  		rows="#{manageCourseController.maxDataTableRowsPerPage}" 
                  		rowsPerPageTemplate="#{manageCourseController.halfMaxDataTableRowsPerPage},#{manageCourseController.maxDataTableRowsPerPage},#{manageCourseController.doubleMaxDataTableRowsPerPage}"
                  		paginator="true" 
                   		lazy="true" 
                   		selection="#{manageCourseController.selectedEntity}" 
                  		selectionMode="single" 
                  		paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" 
                  		paginatorPosition="bottom" 
                  		loadingMessage="#{msgs['text.ajax.loading']}" 
                  		emptyMessage="#{manageCourseController.filtering ? msgsCore['manageCourse.text.noEntitiesFiltered'] : msgsCore['manageCourse.text.noEntities']}">
											
        		<p:column headerText="#{msgsCore['manageCourse.title.name']}"  style="text-align: center;">
            		<h:outputText value="#{entity.name}" />
            	</p:column>
            	<p:column headerText="#{msgsCore['manageCourse.title.code']}"  style="text-align: center;">
            		<h:outputText  value="#{entity.code}" />
            	</p:column>
                <p:ajax event="rowSelect" update=":buttonsForm" />
       		</p:dataTable>
       	</ui:decorate>
       		
       <h:form id="buttonsForm">
	    <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-04.xhtml">
	       	<p:commandButton pt:class="btn btn-block btn-success btn-social" action="#{manageCourseController.create}"   icon="fa fa-user-plus" value="#{msgs['crud.button.create']}"/>
	       	<p:commandButton rendered="#{manageCourseController.selectedEntity != null}" pt:class="btn btn-block btn-info btn-social" action="#{manageCourseController.retrieve}" icon="fa fa-file-text" disabled="#{manageCourseController.selectedEntity == null}" value="#{msgs['crud.button.retrieve']}"/>      	
	      	<p:commandButton rendered="#{manageCourseController.selectedEntity != null}" pt:class="btn btn-block btn-warning btn-social" action="#{manageCourseController.update}" icon="fa fa-refresh" disabled="#{manageCourseController.selectedEntity == null}" value="#{msgs['crud.button.update']}"/>
	      	<p:commandButton process="@this" ajax=":trashForm"  update=":trashForm" rendered="#{manageCourseController.selectedEntity != null}" pt:class="btn btn-block btn-danger btn-social" action="#{manageCourseController.trash}" icon="fa fa-trash-o" disabled="#{manageCourseController.selectedEntity == null}" value="#{msgs['crud.button.delete']}"/>
		</ui:decorate>
	</h:form>
			
    <p>&nbsp;</p>
    
    <h:panelGroup id="trashpanel" rendered="#{not empty manageCourseController.trashCan}" >
    <ui:decorate template="/resources/#{coreInfo.decorator}/dangerform.xhtml">
			<ui:param name="formName" value="trashForm" />
			<ui:param name="formLabel" value="#{msgsCore['manageCourse.title.box.trash']}" /> 
			
			<h3><h:outputText  value="#{msgs['crud.text.trashHeader']}" /></h3>
	        <p:dataList value="#{manageCourseController.trashCan}" var="entity" type="ordered">
	            	#{entity.name} 
	        </p:dataList> 
	        <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
					<p:commandButton ajax=":trashForm :buttonsForm :listingForm" update=":trashForm :buttonsForm :listingForm" pt:class="btn btn-block btn-warning btn-social" action="#{manageCourseController.cancelDeletion}"   icon="fa fa-close" value="#{msgs['crud.button.cancelDeletion']}"/>
		        	<p:commandButton ajax=":trashForm :buttonsForm :listingForm"  update=":trashForm :buttonsForm :listingForm"  pt:class="btn btn-block btn-danger btn-social" action="#{manageCourseController.delete}" icon="fa fa-trash-o"  value="#{msgs['crud.button.confirmDeletion']}"/>
	        </ui:decorate>			
	</ui:decorate> 
	</h:panelGroup>
           
</ui:define> <!-- DEFINE BODY. -->
</ui:composition>