<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title"> 
	<h:outputText value="#{msgsSAE['manageSeminars.title.create']}" 
				  rendered="#{(! manageSeminarsControl.readOnly) and (manageSeminarsControl.selectedEntity.id == null)}" />
   	<h:outputText value="#{msgsSAE['manageSeminars.title.update']}" 
   		          rendered="#{(! manageSeminarsControl.readOnly) and (manageSeminarsControl.selectedEntity.id != null)}" />
    <h:outputText value="#{msgsSAE['manageSeminars.title.retrieve']}" rendered="#{manageSeminarsControl.readOnly}" />
</ui:define>
	
<ui:define name="body">
				
	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
		<ui:param name="formName" value="form" /> 
		<ui:param name="formLabel" value="#{msgsSAE['manageSeminars.title.form']}" />
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="title"/>
			<ui:param name="label" value="#{msgsSAE['manageSeminars.title.title']}"/>
					<p:inputText required="true" id="title" pt:class="form-control" disabled="#{manageSeminarsControl.readOnly}" 
								 pt:placeholder="#{msgsSAE['manageSeminars.title.title']}" value="#{manageSeminarsControl.selectedEntity.title}">
						<p:ajax event="blur" update="titleField" />
					</p:inputText>
		</ui:decorate>
		
		
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="topicOfInterest"/>
			<ui:param name="label" value="#{msgsSAE['manageSeminars.title.topicOfInterest']}"/>
					<h:selectOneMenu pt:class="form-control"  id="topicOfInterest" value="#{manageSeminarsControl.selectedEntity.topicOfInterest}" 
									 converter="#{coreSaeControl.topicOfInterestConverter}" required="true" 
									 disabled="#{manageSeminarsControl.readOnly}">
						<f:selectItem itemLabel="#{msgsSAE['manageSeminars.form.topicsOfInterest.blankOption']}" itemValue="" />
						<f:selectItems value="#{manageTopicsOfInterestControl.entities}" var="topicOfInterest" itemLabel="#{topicOfInterest.name}" 
									   itemValue="#{topicOfInterest}"/>
						<p:ajax  update="topicOfInterestField" />
					</h:selectOneMenu>
		</ui:decorate>
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="alumni"/>
			<ui:param name="label" value="#{msgsSAE['manageSeminars.title.panelistAlumni']}"/>	
					<h:selectOneMenu pt:class="form-control"  id="alumni" value="#{manageSeminarsControl.selectedEntity.alumni_panelist}" 
									 converter="#{coreController.academicConverter}"  
									 disabled="#{(manageSeminarsControl.readOnly)}">
						<f:selectItem itemLabel="#{msgsSAE['manageSeminars.form.alumni.blankOption']}" itemValue="" />
						<f:selectItems value="#{coreController.alumnis}" var="alumni" itemLabel="#{alumni.name}" 
									   itemValue="#{alumni}" />
						<p:ajax  update="alumniField panelistField" />
					</h:selectOneMenu>
		</ui:decorate>
		
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="panelist"/>
			<ui:param name="label" value="#{msgsSAE['manageSeminars.title.panelist']}"/>	
					<p:inputText  disabled="#{manageSeminarsControl.readOnly}" pt:placeholder="#{msgsSAE['manageSeminars.title.panelist']}"
								  id="panelist" value="#{manageSeminarsControl.selectedEntity.panelist}" pt:class="form-control">
						<p:ajax event="blur" update="panelistField" />
					</p:inputText>
		</ui:decorate>
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="place"/>
			<ui:param name="label" value="#{msgsSAE['manageSeminars.title.place']}"/>		
					<p:inputText id="place" pt:class="form-control" disabled="#{manageSeminarsControl.readOnly}" 
								 pt:placeholder="#{msgsSAE['manageSeminars.title.place']}" value="#{manageSeminarsControl.selectedEntity.place}">
						<p:ajax event="blur" update="placeField" />
					</p:inputText>
		</ui:decorate>
		
		
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="date_time"/>
			<ui:param name="label" value="#{msgsSAE['manageSeminars.title.date_time']}"/>
					<p:inputMask id="date_time" pt:class="form-control" value="#{manageSeminarsControl.selectedEntity.date_time}"
			           			 mask="#{msgs['format.datetime.primefaces']}" disabled="#{manageSeminarsControl.readOnly}">
						<f:convertDateTime type="date" pattern="#{msgs['format.datetime.java']}" locale="pt_BR" 
										   timeZone="America/Sao_Paulo"/>
					</p:inputMask>
		</ui:decorate>
		
		
		
		
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-03.xhtml">
	        	<p:commandButton pt:class="btn btn-block btn-success btn-social" action="#{manageSeminarsControl.confirmar()}" icon="fa fa-file-text" disabled="#{manageSeminarsControl.readOnly}" value="#{msgsSAE['manageSeminars.button.confirmar']}"/>      	
	        	<p:commandButton pt:class="btn btn-block btn-info btn-social" action="#{manageSeminarsControl.save}" update=":globalMessages form" disabled="#{manageSeminarsControl.readOnly}" icon="fa fa-save" value="#{msgs['crud.button.save']}"/>
	        	<p:commandButton pt:class="btn btn-block btn-warning btn-social" immediate="true" action="#{manageSeminarsControl.list}" icon="fa fa-rotate-left" disabled="#{manageSeminarsControl.selectedEntity == null}" value="#{msgs['crud.button.back']}"/>
	    </ui:decorate>	
						
	</ui:decorate>
	
</ui:define>
</ui:composition>