<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title"><h:outputText value="#{msgsSAE['manageSeminars.title']}" /></ui:define>
	
<ui:define name="body">

	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
			<ui:param name="formName" value="listingForm" />
			<ui:param name="formLabel" value="#{msgsSAE['manageSeminars.title.box.list']}" /> 
                
         	<p:dataTable
	       			 	widgetVar="listingTable"
                 	    rowIndexVar="rowIndex"
                    	tableStyleClass="table table-bordered table-striped"
                    	value="#{manageSeminarsControl.lazyEntities}" 
                    	var="entity" 
                    	rows="#{manageSeminarsControl.maxDataTableRowsPerPage}" 
                    	rowsPerPageTemplate="#{manageSeminarsControl.halfMaxDataTableRowsPerPage},
                    						#{manageSeminarsControl.maxDataTableRowsPerPage},
                    						#{manageSeminarsControl.doubleMaxDataTableRowsPerPage}"
                    	paginator="true" 
                    	lazy="true" 
                    	selection="#{manageSeminarsControl.selectedEntity}" 
                    	selectionMode="single" 
                    	paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} 
                    						{NextPageLink} {LastPageLink}" 
                     	paginatorPosition="bottom" 
                        loadingMessage="#{msgsSAE['text.ajax.loading']}" 
                        emptyMessage="#{manageSeminarsControl.filtering ? 
                        			  msgsSAE['manageSeminars.text.noEntitiesFiltered'] : msgsSAE['manageSeminars.text.noEntities']}">
												
        		<p:column headerText="#{msgsSAE['manageSeminars.title.title']}"  style="text-align: center;">
                	<h:outputText value="#{entity.title}" />
                </p:column>
                <p:column headerText="#{msgsSAE['manageSeminars.title.panelist']}"  style="text-align: center;">
              		<h:outputText value="#{entity.panelist}" />
              	</p:column>
              	<p:column headerText="#{msgsSAE['manageSeminars.title.date_time']}"  style="text-align: center;">
              		<h:outputText value="#{entity.date_time}" >
              			<f:convertDateTime type="date" pattern="#{msgsSAE['format.datetime.java']}" locale="pt_BR" timeZone="America/Sao_Paulo"/>
              		</h:outputText>
              	</p:column>
              	
                <p:column headerText="#{msgsSAE['manageSeminars.title.topicOfInterest']}"  style="text-align: center;">
                	<h:outputText value="#{entity.topicOfInterest.name}" />
                </p:column>
                		
                <p:ajax event="rowSelect" update=":buttonsForm" />
        	</p:dataTable>
		</ui:decorate>
        
        <h:form id="buttonsForm">
		    <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-04.xhtml">
		       	<p:commandButton pt:class="btn btn-block btn-success btn-social" action="#{manageSeminarsControl.create}"   icon="fa fa-user-plus" value="#{msgs['crud.button.create']}"/>
		       	<p:commandButton rendered="#{manageSeminarsControl.selectedEntity != null}" pt:class="btn btn-block btn-info btn-social" action="#{manageSeminarsControl.retrieve()}" icon="fa fa-file-text" disabled="#{manageSeminarsControl.selectedEntity == null}" value="#{msgs['crud.button.retrieve']}"/>      	
		      	<p:commandButton rendered="#{manageSeminarsControl.selectedEntity != null}" pt:class="btn btn-block btn-warning btn-social" action="#{manageSeminarsControl.update}" icon="fa fa-refresh" disabled="#{manageSeminarsControl.selectedEntity == null}" value="#{msgs['crud.button.update']}"/>
		      	<p:commandButton process="@this" ajax=":trashForm"  update=":trashForm" rendered="#{manageSeminarsControl.selectedEntity != null}" pt:class="btn btn-block btn-danger btn-social" action="#{manageSeminarsControl.trash}" icon="fa fa-trash-o" disabled="#{manageSeminarsControl.selectedEntity == null}" value="#{msgs['crud.button.delete']}"/>
			</ui:decorate>
		</h:form>
			
	    <p>&nbsp;</p>
        	
        <h:panelGroup id="trashpanel" rendered="#{not empty manageSeminarsControl.trashCan}" >
	    <ui:decorate template="/resources/#{coreInfo.decorator}/dangerform.xhtml">
				<ui:param name="formName" value="trashForm" />
				<ui:param name="formLabel" value="#{msgsSAE['manageSeminars.title.box.trash']}" /> 
				
				<h3><h:outputText  value="#{msgs['crud.text.trashHeader']}" /></h3>
		        <p:dataList value="#{manageSeminarsControl.trashCan}" var="entity" type="ordered">
		            	#{entity.panelist} 
		        </p:dataList> 
		        <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
						<p:commandButton ajax=":trashForm :buttonsForm :listingForm" update=":trashForm :buttonsForm :listingForm" pt:class="btn btn-block btn-warning btn-social" action="#{manageSeminarsControl.cancelDeletion}"   icon="fa fa-close" value="#{msgs['crud.button.cancelDeletion']}"/>
			        	<p:commandButton ajax=":trashForm :buttonsForm :listingForm"  update=":trashForm :buttonsForm :listingForm"  pt:class="btn btn-block btn-danger btn-social" action="#{manageSeminarsControl.delete}" icon="fa fa-trash-o"  value="#{msgs['crud.button.confirmDeletion']}"/>
		        </ui:decorate>			
		</ui:decorate> 
		</h:panelGroup>
		
</ui:define> <!-- DEFINE BODY. -->
</ui:composition>