<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title">
	<h:outputText value="#{msgsSAE['manageSuggestions.title.create']}" 
				  rendered="#{(! manageSuggestionsControl.readOnly) and (manageSuggestionsControl.selectedEntity.id == null)}" />
   	<h:outputText value="#{msgsSAE['manageSuggestions.title.update']}" 
   				  rendered="#{(! manageSuggestionsControl.readOnly) and (manageSuggestionsControl.selectedEntity.id != null)}" />
    <h:outputText value="#{msgsSAE['manageSuggestions.title.retrieve']}" rendered="#{manageSuggestionsControl.readOnly}" />
</ui:define>

<ui:define name="body">
	
	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
		<ui:param name="formName" value="form" /> 
		<ui:param name="formLabel" value="#{msgsSAE['manageSuggestions.title.form']}" />

		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="courseRealized"/>
			<ui:param name="label" value="#{msgsSAE['manageSuggestions.title.courseRealized']}"/>
				<h:selectOneMenu  id="courseRealized" pt:class="form-control" value="#{manageSuggestionsControl.selectedEntity.courseRealized}"  
								  converter="#{coreSaeControl.courseRealizedConverter}"  required="true" 
								  disabled="#{manageSuggestionsControl.readOnly}">
					<f:selectItem itemLabel="#{msgsSAE['manageTestimonies.courseRealized.blankOption']}" itemValue="" />
					<f:selectItems value="#{manageCoursesRealizedControl.myCourseRealized}" var="courseRealized" itemLabel="#{courseRealized.course.name}" itemValue="#{courseRealized}" />
					<p:ajax update="courseRealizedField" />
				</h:selectOneMenu>	
		</ui:decorate>

		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="content"/>
			<ui:param name="label" value="#{msgsSAE['manageSuggestions.title.content']}"/>
				<p:inputTextarea id="content" pt:class="form-control" disabled="#{manageSuggestionsControl.readOnly}" 
								 pt:placeholder="#{msgsSAE['manageSuggestions.title.content']}" 
								 value="#{manageSuggestionsControl.selectedEntity.content}"  required="true">
						<p:ajax event="blur" update="contentField" />
				</p:inputTextarea>
		</ui:decorate>
				
		<ui:decorate template="/resources/#{coreInfo.decorator}/formfield.xhtml">
			<ui:param name="fieldName" value="answer"/>
			<ui:param name="label" value="#{msgsSAE['manageSuggestions.title.answer']}"/>
				<p:inputTextarea id="answer" pt:class="form-control" disabled="true" 
								 pt:placeholder="#{msgsSAE['manageSuggestions.title.answer']}" 
								 value="#{manageSuggestionsControl.selectedEntity.answer}" >
						<p:ajax event="blur" update="answerField" />
				</p:inputTextarea>
		</ui:decorate>
		
		<ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
	        	<p:commandButton pt:class="btn btn-block btn-info btn-social" action="#{manageSuggestionsControl.save}" update=":globalMessages form" disabled="#{manageSuggestionsControl.readOnly}" icon="fa fa-save" value="#{msgs['crud.button.save']}"/>
	        	<p:commandButton pt:class="btn btn-block btn-warning btn-social" immediate="true" action="#{manageSuggestionsControl.list}" icon="fa fa-rotate-left" disabled="#{manageSuggestionsControl.selectedEntity == null}" value="#{msgs['crud.button.back']}"/>
	    </ui:decorate>
		
	</ui:decorate>
	
</ui:define>
</ui:composition>