<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

	<ui:define name="title"><h:outputText value="#{msgsCore['login.title']}" /></ui:define>

	<ui:define name="body">
		
		<h:panelGroup rendered="#{not sessionController.loggedIn}">
			
			<!-- The login form. -->			
			<ui:decorate template="/resources/sae/form.xhtml">
				<form id="form" action="j_security_check" method="post">
					<h:outputLabel style="text-align:center;" value="Email" />
	            	<input type="text" class="form-control" id="email" name="j_username" />
	                <br/><br/>	
					<h:outputLabel style="text-align:center;" value="Password" />
					<input type="password" class="form-control" id="pwd" name="j_password"/>
						
					<ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-01.xhtml">
						<input  class="btn btn-block btn-info btn-social" type="submit" value="Entrar" />	
					</ui:decorate>
				</form>
			
			</ui:decorate>
			
		</h:panelGroup>
	</ui:define>
</ui:composition>
