<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/resources/#{coreInfo.decorator}/decorator.xhtml">

<ui:define name="title"><h:outputText value="#{msgsSAE['manageTestimonies.title']}" /></ui:define>

<ui:define name="description"><h:outputText value="#{msgsSAE['manageTestimonies.title.description']}" /></ui:define>

<ui:define name="body">

	<ui:decorate template="/resources/#{coreInfo.decorator}/form.xhtml">
		<ui:param name="formName" value="listingForm" />
		<ui:param name="formLabel" value="#{msgsSAE['manageTestimonies.title.box.list']}" /> 

        <p:dataTable
	    			 	widgetVar="listingTable"
           			    rowIndexVar="rowIndex"
               			tableStyleClass="table table-bordered table-striped"
                   		value="#{manageTestimoniesControl.lazyEntities}" 
                   		var="entity" 
                   		rows="#{manageTestimoniesControl.entityCount}" 
                        lazy="true" 
                        selection="#{manageTestimoniesControl.selectedEntity}" 
                        selectionMode="single" 
                        loadingMessage="#{msgs['text.ajax.loading']}" 
                        emptyMessage="#{manageTestimoniesControl.filtering ? msgsSAE['manageTestimonies.text.noEntitiesFiltered'] : msgsSAE['manageTestimonies.text.noEntities']}">
												
                <p:column headerText="#{msgsSAE['manageTestimonies.title.courseRealized']}"  style="text-align: center;">
                	<h:outputText  value="#{entity.courseRealized.course.name}" />
                </p:column>
                <p:column headerText="#{msgsSAE['manageTestimonies.title.send_date']}" style="text-align: center; width:32%;">
                	<h:outputText  value="#{entity.send_date}" >
                		<f:convertDateTime type="date" pattern="#{msgs['format.date.java']}" locale="pt_BR" timeZone="America/Sao_Paulo"/>
                	</h:outputText>
                </p:column>
                <p:column headerText="#{msgsSAE['manageTestimonies.title.status']}"  style="text-align: center; width:30%;">
                	<h:outputText  value="#{entity.status.label}" />
                </p:column>
                <p:ajax event="rowSelect" update=":buttonsForm" />
        	</p:dataTable>
        </ui:decorate>
        		
        <h:form id="buttonsForm">
		    <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-04.xhtml">
		       	<p:commandButton pt:class="btn btn-block btn-success btn-social" action="#{manageTestimoniesControl.create}"   icon="fa fa-user-plus" value="#{msgs['crud.button.create']}"/>
		       	<p:commandButton rendered="#{manageTestimoniesControl.selectedEntity != null}" pt:class="btn btn-block btn-info btn-social" action="#{manageTestimoniesControl.retrieve}" icon="fa fa-file-text" disabled="#{manageTestimoniesControl.selectedEntity == null}" value="#{msgs['crud.button.retrieve']}"/>      	
		      	<p:commandButton rendered="#{manageTestimoniesControl.selectedEntity != null}" pt:class="btn btn-block btn-warning btn-social" action="#{manageTestimoniesControl.update}" icon="fa fa-refresh" disabled="#{manageTestimoniesControl.selectedEntity == null}" value="#{msgs['crud.button.update']}"/>
		      	<p:commandButton process="@this" ajax=":trashForm"  update=":trashForm" rendered="#{manageTestimoniesControl.selectedEntity != null}" pt:class="btn btn-block btn-danger btn-social" action="#{manageTestimoniesControl.trash}" icon="fa fa-trash-o" disabled="#{manageTestimoniesControl.selectedEntity == null}" value="#{msgs['crud.button.delete']}"/>
			</ui:decorate>
		</h:form>
			
	    <p>&nbsp;</p>	
        
        <h:panelGroup id="trashpanel" rendered="#{not empty manageTestimoniesControl.trashCan}" >
	    <ui:decorate template="/resources/#{coreInfo.decorator}/dangerform.xhtml">
				<ui:param name="formName" value="trashForm" />
				<ui:param name="formLabel" value="#{msgsSAE['manageTestimonies.title.box.trash']}" /> 
				
				<h3><h:outputText  value="#{msgs['crud.text.trashHeader']}" /></h3>
		        <p:dataList value="#{manageTestimoniesControl.trashCan}" var="entity" type="ordered">
		            	#{entity.courseRealized.course.name} 
					   	<h:outputText  value="#{entity.send_date}" >
	                		<f:convertDateTime type="date" pattern="#{msgs['format.date.java']}" locale="pt_BR" timeZone="America/Sao_Paulo"/>
	                	</h:outputText>
		        </p:dataList> 
		        <ui:decorate template="/resources/#{coreInfo.decorator}/formbuttonpanel-02.xhtml">
						<p:commandButton ajax=":trashForm :buttonsForm :listingForm" update=":trashForm :buttonsForm :listingForm" pt:class="btn btn-block btn-warning btn-social" action="#{manageTestimoniesControl.cancelDeletion}"   icon="fa fa-close" value="#{msgs['crud.button.cancelDeletion']}"/>
			        	<p:commandButton ajax=":trashForm :buttonsForm :listingForm"  update=":trashForm :buttonsForm :listingForm"  pt:class="btn btn-block btn-danger btn-social" action="#{manageTestimoniesControl.delete}" icon="fa fa-trash-o"  value="#{msgs['crud.button.confirmDeletion']}"/>
		        </ui:decorate>			
		</ui:decorate> 
		</h:panelGroup>		
	          
</ui:define> <!-- DEFINE BODY. -->
</ui:composition>